@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/d4244fd536be2c4de94a657a0017fcac?family=Apple+Garamond+Light);


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Apple Garamond Light";
  src: url("https://db.onlinewebfonts.com/t/d4244fd536be2c4de94a657a0017fcac.eot");
  src: url("https://db.onlinewebfonts.com/t/d4244fd536be2c4de94a657a0017fcac.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d4244fd536be2c4de94a657a0017fcac.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d4244fd536be2c4de94a657a0017fcac.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d4244fd536be2c4de94a657a0017fcac.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d4244fd536be2c4de94a657a0017fcac.svg#Apple Garamond Light")
      format("svg");
}

@font-face {
  font-family: "DePixelBreit";
  src: url("/fonts/depixelbreit.woff2") format("woff2"),
    url("/fonts/depixelbreit.woff") format("woff"),
    url("/fonts/DePixelBreit.ttf") format("truetype"),
    url("/fonts/DePixelBreit.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DePixelBreitFett";
  src: url("/fonts/depixelbreitfett.woff2") format("woff2"),
    url("/fonts/depixelbreitfett.woff") format("woff"),
    url("/fonts/DePixelBreitFett.ttf") format("truetype"),
    url("/fonts/DePixelBreitFett.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DePixelHalbfett";
  src: url("/fonts/depixelhalbfett.woff2") format("woff2"),
    url("/fonts/depixelhalbfett.woff") format("woff"),
    url("/fonts/DePixelHalbfett.ttf") format("truetype"),
    url("/fonts/DePixelHalbfett.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DePixelKlein";
  src: url("/fonts/depixelklein.woff2") format("woff2"),
    url("/fonts/depixelklein.woff") format("woff"),
    url("/fonts/DePixelKlein.ttf") format("truetype"),
    url("/fonts/DePixelKlein.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DePixelSchmal";
  src: url("/fonts/depixelschmal.woff2") format("woff2"),
    url("/fonts/depixelschmal.woff") format("woff"),
    url("/fonts/DePixelSchmal.ttf") format("truetype"),
    url("/fonts/DePixelSchmal.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
